<!doctype html>                                   
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Tabs - Open on mouseover</title>
  <!-- http://jqueryui.com/tabs/#mouseover -->
  <link rel="stylesheet" href="static/jquery-ui.min.css">
  <script src="static/jquery-3.2.1.min.js"></script>
  <script src="static/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script src="static/libs/plotly-latest.min.js"></script>
  <script src="static/libs/gauge.min.js"></script>
  <script>
    $(function() {
      $("#tabs").tabs({
        event: "mouseover"
      });

      var isLoggingEnabled = false;

      // Přesun inicializace socketu do funkce po kliknutí na "Connect"
      $("#connectButton").click(function() {
        var namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function() {
          socket.emit('my_event', { data: 'I\'m connected!', value: 1 });
        });

        var x = [];
        var y = [];
        var trace;
        var layout;

        var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "Hodnota Senzora",
          minValue: 0,
          maxValue: 1000,
          majorTicks: [
            "0", "50", "100", "150", "200", "250", "300", "350", "400", "450", "500", "550", "600", "650", "700", "750", "800", "850", "900", "950", "1000"
          ],
          minorTicks: 1,
          strokeTicks: true,
          highlights: [{
            "from": 750,
            "to": 1000,
            "color": "rgba(200, 50, 50, .75)"
          }],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
        });
        gauge.draw();
        gauge.value = "0";

        socket.on('my_response', function(msg) {
          if (isLoggingEnabled) {
            console.log(msg.data);
            $('#log').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();
            $('#log2').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();
            $('#log3').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();

            gauge.value = msg.data;

            x.push(parseFloat(msg.count));
            y.push(parseFloat(msg.data));
            trace = {
              x: x,
              y: y,
            };
            layout = {
              title: 'Data',
              xaxis: {
                title: 'x',
              },
              yaxis: {
                title: 'y',
              }
            };
            var traces = [trace];
            Plotly.newPlot($('#plotdiv')[0], traces, layout);
          }
        });

        $('form#emit').submit(function(event) {
          isLoggingEnabled = true;
          socket.emit('my_event', { value: $('#emit_value').val() });
          return false;
        });

        $('#stopButton').click(function(event) {
          isLoggingEnabled = false;
        });

        $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false;
        });
      });
    });
  </script>
</head>
<body>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Numeric</a></li>
      <li><a href="#tabs-2">Graph</a></li>
      <li><a href="#tabs-3">Analog</a></li>
    </ul>
    <div id="tabs-1">
      <h1>Flask-SocketIO Test</h1>
      <h2>Send:</h2>
      <form id="emit" method="POST" action='#'>
        <input type="submit" value="Start">
        <input type="button" id="stopButton" value="Stop">
      </form>
      <button id="connectButton">Connect</button>
      <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
      </form>
      <h2>Receive:</h2>
      <div id="log"></div>
    </div>
    <div id="tabs-2">
      <div id="plotdiv" style="width:600px;height:250px;"></div>
      <h2>Receive:</h2>
      <div id="log2"></div>
    </div>
    <div id="tabs-3">
      <canvas id="canvasID"></canvas>
      <h2>Receive:</h2>
      <div id="log3"></div>
    </div>
  </div>
</body>
</html>
