<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Tabs - Open on mouseover</title>
  <link rel="stylesheet" href="static/jquery-ui.min.css">
  <script src="static/jquery-3.2.1.min.js"></script>
  <script src="static/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script src="static/libs/plotly-latest.min.js"></script>
  <script src="static/libs/gauge.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script>
    $(function() {
      $("#tabs").tabs({
        event: "click"
      });

      var isLoggingEnabled = false;

      // Přesun inicializace socketu do funkce po kliknutí na "Connect"
      $("#connectButton").click(function() {
        var namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        var x = [];
        var y = [];
        var trace;
        var layout;
        var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "Hodnota Senzora",
          minValue: 0,
          maxValue: 1000,
          majorTicks: [
            "0", "50", "100", "150", "200", "250", "300", "350", "400", "450", "500", "550", "600", "650", "700", "750", "800", "850", "900", "950", "1000"
          ],
          minorTicks: 1,
          strokeTicks: true,
          highlights: [{
            "from": 750,
            "to": 1000,
            "color": "rgba(200, 50, 50, .75)"
          }],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
        });
        gauge.draw();
        gauge.value = "0";

        socket.on('my_response', function(msg) {
          if (isLoggingEnabled) {
            console.log(msg.data);
            $('#log').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();
            $('#log').scrollTop = $('#log').scrollHeight;
            $('#log2').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();
            $('#log2').scrollTop = $('#log2').scrollHeight;
            $('#log3').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();
            $('#log3').scrollTop = $('#log3').scrollHeight;

            gauge.value = msg.data;

            x.push(parseFloat(msg.count));
            y.push(parseFloat(msg.data));
            trace = {
              x: x,
              y: y,
            };
            layout = {
              title: 'Data',
              xaxis: {
                title: 'x',
              },
              yaxis: {
                title: 'y',
              }
            };
            var traces = [trace];
            Plotly.newPlot($('#plotdiv')[0], traces, layout);
          }
        });
        $('#buttonVal').click(function(event) {
          socket.emit('db_event', {value: $('#buttonVal').val()});
          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Stop");
            isLoggingEnabled = true;
          }
          else {
            $(this).val("start");
            $(this).text("Start");
            isLoggingEnabled = false;
          }
          return false; }); 
        
        $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          socket.disconnect();
          return false;
        });
        
        document.getElementById('fileForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('id').value;
            console.log(id);
            url = "http://127.0.0.1:5000/read/"+id;
            fetchDataAndRenderChart(url,'#plotDivFile');
        });
        
        document.getElementById('database').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('valueDB').value;
            console.log(id);
            url = "http://127.0.0.1:5000/dbdata/"+id;
            fetchDataAndRenderChart(url,'#plotDivDB');
        });
        
      });
    });
            
        

        async function fetchDataAndRenderChart(url,div) {
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const jsonData = await response.json();
                const xData = jsonData.map(point => point.x);
                const yData = jsonData.map(point => Number(point.y));
                renderChart(xData, yData,div);
            } catch (error) {
                console.error('Error fetching or parsing data:', error);
            }
        }

        
        function renderChart(xData, yData,id) {
            const trace = {
              x: xData,
              y: yData,
              mode: 'lines+markers',
              type: 'scatter'
            };
            const layout = {
              title: 'Graf z JSON dát',
              xaxis: {
              title: 'X'
            },
              yaxis: {
              title: 'Y'
            }
          };
        Plotly.newPlot($(id)[0],[trace],layout);
      }

        
  
  
  
      
  </script>
</head>
<body>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Numeric</a></li>
      <li><a href="#tabs-2">Graph</a></li>
      <li><a href="#tabs-3">Analog</a></li>
      <li><a href="#tabs-4">Graf - databáza</a></li>
      <li><a href="#tabs-5">Graf - .txt súbor</a></li>
    </ul>
    <div id="tabs-1">
      <h1>Záverečné zadanie POIT</h1>
			<h2>Pošli:</h2>
			
			<form id="emit" method="POST" action='/nastavHodnotu'>
			  <input type="text" name="emit_value" id="emit_value" placeholder="Jas LED">
			  <input type="submit"  value="Poslať">
			</form>
      <button type="button" class="btn btn-success" id="connectButton">OPEN</button>
			<button id="buttonVal" type="submit" value="start">Start</button>
      <form id="disconnect" method="POST" action="#">
			  <button type="submit" class="btn btn-danger">CLOSE</button>
			</form> 
			
			<h2>Prijaté dáta:</h2>
			<div id="log" style="height:200px; overflow-y:auto;"></div>
    </div>
    
    <div id="tabs-2">
      <div id="plotdiv" style="width:600px;height:250px;"></div>
      <h2>Hodnoty zo Senzora:</h2>
      <div id="log2" style="height:200px; overflow-y:auto;"></div>
    </div>
    <div id="tabs-3">
      <canvas id="canvasID"></canvas>
      <h2>Hodnoty zo Senzora:</h2>
      <div id="log3" style="height:200px; overflow-y:auto;"></div>
    </div>
    <div id="tabs-4">
      <h1>Graf - databáza</h1>
      <form id="database" method="POST" action="#">
        <input type="text" name="value" id="valueDB" placeholder="Záznam v databáze">
        <input type="submit" value="OK">
      </form> 
      <div id="plotDivDB" style="width:600px;height:250px;"></div>
    </div>
    <div id="tabs-5">
      <h1>Graf - .txt súbor</h1>
      <form id="fileForm">
        <label for="id">Zadaj ID zaznamu:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Odoslať</button>
      </form>
      <div id="plotDivFile" style="width:600px;height:250px;"></div>
    </div>
  </div>
</body>
</html>
